{{ with .Site.Data.team }}
  {{ if .enable }}
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <h2>
              {{ .title }}
            </h2>
          </div>
        </div>
        {{ range .members }}
        <div class="col-lg-6 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p><strong>{{ .designation }}</strong></p>
              <p>{{ .description }}</p>
              <ul class="site-team-member-social">
                {{ if .twitter}}
                <li><a href="{{ .twitter | absURL }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                {{end}}
                {{ if .linkedIn}}
                <li><a href="{{ .linkedin | absURL }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                {{end}}
                {{ if .instagram}}
                <li><a href="{{ .instagram | absURL }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                {{end}}
                {{ if .media}}
                <li><a href="{{ .media | absURL}}" target="_blank"><i class="fa fa-folder-open"></i></a></li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center site-team-secondary_title">
            <h2>
              {{ .ack_title }}
            </h2>
          </div> 
        </div>
        {{ range .acknowledgement }}
        <div class="col-lg-6 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p><strong>{{ .designation }}</strong></p>
              <p>{{ .description }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}