{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          {{ with .Site.Data.via }}
          <p><a class="site-contact-form-mail" href="mailto:{{ .mail.email }}" target="_blank">{{ .mail.email }}</a></p>
          <h5>{{ .subtitle }}</h5>
          <ul>
          {{ range .services }}
            <li><a href="{{ .link }}" target="_blank">{{ .title }}  </a><img class="site-contact-form-icon" src="{{ .image | absURL }}" alt="{{ .title }}-image"></li>
          {{end}}
          </ul>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
